header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.header__container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  z-index: 10;
}
