.nav {
  width: 327px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__button {
  background: none;
  border: none;
}

@media screen and (min-width: 376px) {
  .nav {
    width: 80%;
  }
}

@media screen and (min-width: 1440px) {
  #nav-hamburger {
    display: none;
    visibility: hidden;
  }
}
